body{
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 128), rgb(128, 255, 255));
}

#container{
    margin-top: 10%
}

.title{
    font-family:  'Times New Roman', serif;
    letter-spacing: 0.6em;
    font-weight: bold;
    color: rgba(0,0,0,.5);
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);    
}

p{
    color: rgba(0,0,0,.5);
    letter-spacing: normal;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2); 
}

button{
    padding: 1em 2em;
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0.2em;
}

button:focus { 
    outline:0;
}

button:hover{
    border: 2px solid rgba(0,0,0,.5);
    background-color: transparent;
}